$(".comment_answer").remove();
$("#comment_id_<%=@parent.id%>").after("<div class='comment_answer nested'><%= escape_javascript(render "comments/form") %></div>");
$(".tag_list").tagsInput({height: "35px", width: "528px"});
