<div id="modal-translation-form" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3><%= t("translation.new") %></h3></div>
  <div class="modal-body"><%= render("form") %></div>
</div>
