<div class="container">
  
  <section id="welcome_text">
    <div class="page_header">
      <h1>Willkommen auf dieser wunderschoenen Seite. <small>Sooo schoen.</small></h1>
      <div class="row">
        <div class="span6 columns">
          <h3>Was ist das fuer eine Seite?</h3>
          <p>Ich weiss nicht, was zu sagen, wann die Leute sterben. Leider habe ich es nocht nicht auf Deutsch gelernt.
           
           Ich bin Schriftstellerin auch, und nach dem ich Email auf J-Studien gelesen habe, das Otto Putz gestorben ist, habe ich ein Lyrik auf Deutsch geschrieben.  Zum Musik "Gone Too Soon" von Michael Jackson. 
           Fur Otto Putz und viele Leute, die zu fruh sterben sollen.  Wenn Sie es nicht magen, entschuldigen.</p>
        </div>
        <div class="span5 columns">
          <h3>Neuer Nutzer</h3>
          <p>GONE TOO SOON-INTO THE LIGHT
           
           ZU JUNG
           GESTORBEN
           WOHIN GEHTS DU?
           NACH OBEN?
           ICH HOFFE...
            
            WARUM SO JUNG GESTORBEN?
            FRAGE ICH OBEN
            VON STRESS RAUCHEN?
            JUNKFOOD ZUTATEN?
            MEDIZIN DROGEN?
            ZUM WOHL!
            ALKOHOL?
            STRAHLUNG VON ATOM?
            STRESS VON LUGEN STROM?
            KANNST DU MIR SAGEN?
            WEM MUSS ICH FRAGEN?</p>
        </div>
        <div class="span5 columns">
          <h3>Bisher schon Nutzer</h3>
          <p>Fur Otto Putz und viele Leute, die zu fruh sterben sollen. Mein Bruder war am 32, und mein Fater am 53 gestorben.  Aber privat Information soll ich hier nicht schreiben-nicht akademisch oder wissentschaflich, entschuldigen.
           
           With respect from Berlin,
            
            Natalia Roschina (Kunstname Billie Jean)
            P.S. Mein Nachdiplom (postgraduate university degree) war am meistens in Japanisches Literatur, mit ein bishen von Deutsche Literatur.  Vielleicht deshalb schreibe ich selbst Literatur.</p>
        </div>
      </div>
    </div>
  </section>
</div>
