<div class="container">
  <div class="page-header">
    <h1>Neues Fragment</h1>
  </div>
  <div class="row">
    <div class="span4 columns">
      <h3>Was macht man hier</h3>
      <p>Blindtext mit der erklärung. Blindtext mit der erklärung. Blindtext mit der erklärung. Blindtext mit der erklärung. Blindtext mit der erklärung. Blindtext mit der erklärung. Blindtext mit der erklärung. Blindtext mit der erklärung. Blindtext mit der erklärung. Blindtext mit der erklärung. </p>

    </div>
    <div class="span12 columns">
      <%= render 'form' %>

    </div>
  </div> 
</div>
