getSelected = () ->
  range = window.getSelection()
  range.toString()

fillWithSuggestions = (el, selected) ->
  url = "http://wadoku.eu/entries/tres?callback=?"
  jQuery.getJSON(url,{search: selected}, (data) ->
    ul = $("<ul class='suggestions'></ul>")
    $.each(data, (index, suggestion) ->
      li = $("<li><a href='#'>#{suggestion}</a></li>")
      ul.append(li)
      li.click((event) ->
        new_text = $("#comment_body").val() + " " + suggestion
        $("#comment_body").val(new_text)
      )
    )
    if data.length == 0
      ul.append("<li>Keine Vorschläge...</li>")
    el.html("")
    el.append("<span class='header'>Vorschläge</span>")
    el.append(ul)
  )
   

initializeTranslationMode = () ->
  $(".translated").twipsy(
    title: "data-translation"
  )

  $(".translated").click((event) ->
    if event.which == 1
      new_text = $("#comment_body").val() + " " + $(event.target).data("translation")
      $("#comment_body").val(new_text)
  )

  $(".translatable").contextMenu(
    {menu: "selectableMenu"}, 
    (action, el, pos) ->
      selected = getSelected()
      if action == "google"
        window.open("http://google.com/search?btnG=1&pws=0&q=" + selected)
      if action == "wadoku"
        window.open("http://wadoku.eu/search/index?search=" + selected)
      if action == "edit"
        jQuery.ajax "http://#{window.location.host}/translations/new?source_lang=#{selected}"
    ,
    (menu, el) ->
      selected = getSelected()
      header = "[" + selected + "]"
      menu.find(".header").text(header)
      menu.find(".edit").text("#{selected} zum Glossar hinzufügen")
      fillWithSuggestions(menu.find(".suggestions"), selected)
  )

  $(".translated").contextMenu(
    {menu: "selectableMenu"}, 
    (action, el, pos) ->
      translation = el.data("translation")
      selected = el.text()
      if action == "google"
        window.open("http://google.com/search?btnG=1&pws=0&q=" + selected)
      if action == "wadoku"
        window.open("http://wadoku.eu/search/index?search=" + selected)
      if action == "edit"
        new_text = $("#comment_body").val() + " " + translation
        $("#comment_body").val(new_text)
    ,
    (menu, el) ->
      selected = el.text()
      translation = el.data("translation")
      header = "[#{selected}]"
      menu.find(".header").text(header)
      menu.find(".edit").text("D: #{translation}")
      menu.find(".suggestions").html("")
  )

document.initializeTranslationMode = initializeTranslationMode  

jQuery( () ->
  initializeTranslationMode()
)
