// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  background-color: #fefbf3; 
  border-color: rgba(0, 0, 0, 0.199219);
  border-width: 1px;
  border-style: solid;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0px;

}

.nested {
  margin-left: 20px;
}

.comment_actions {
  float: right;
  display: block;
}

.comment_form {
  background-color: #fefbf3; 
  border-color: rgba(0, 0, 0, 0.199219);
  border-width: 1px;
  border-style: solid;
  padding-bottom: 0px; 
  margin-bottom: 10px;
  .full-width {
    margin: 10px;
    width: 95%;
   }
 
  .button {
    margin-left: 10px; 
  }
  
}
