// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  background-color: #fefbf3; 
  border-color: rgba(0, 0, 0, 0.199219);
  border-width: 1px;
  border-style: dotted;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.comment .comment_head {
  border-width: 0px 0px 1px 0px;
  padding-bottom:2px;
  border-style: dotted ;
}

.nested {
  margin-left: 20px;
}

.comment_actions {
  float: right;
  display: block;
}

.comment .name {
  font-weight: bold;
  display: block;
}

.comment .avatar {
  display: block;
  float: left;
  margin-right: 5px;
}

