// Place all the styles related to the fragment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.translated {
  background-color: yellow;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px;
  border-style: solid;
}
